*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    --violet: #6725A8;
    --magenta: #CB11AB;
    --light-gray: #F6F6FA;
    --gray: #A0A0A4;
    --smoky: #F6F6FA;
    --smoky-dark: #F0ECF4;
    --gray-blue: #9797AF;
    --coral: #FF3B30;
    --red: #F55123;
    --green: #0CB477;
}
body{
    background: var(--violet);
}
aside, nav, footer, header, section, main {
    display: block;
}
button {
    color: transparent;
    border: none;
}
button, input {
    box-shadow: none;
    background: none;
    cursor: pointer;
}
input:focus, input:active,
button:focus, button:active {
    outline: none;
}
input+label {
    cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.content{
    border-radius: 22px;
    background: var(--smoky);
    display: flex;
    flex-direction: row;
    padding: 0 1.5rem  3.5% 1.5rem;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;
    width: 100vw;
}
.checkbox-block{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    align-self: stretch;
}
.checkbox-block p{
    color:  #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3rem;
}
.checkbox-block input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox-block input+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.checkbox-block input+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #d3d4dd;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.checkbox-block input:checked+label::before {
    background-image: url(assets/icons/checkbox.svg);
    border: 1px solid var(--magenta);
    background-color: var(--magenta);
}

/*///decoration-container/////*/
.decoration-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}
/*/////////////////////////////////////////////////*/
/*////////////CONTENT PRICE STYLES/////////////////*/
/*/////////////////////////////////////////////////*/

.footer{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    background: var(--violet)
}
.footer p{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}