@media(min-width: 1023px){
    .cart-container{
        min-width: 40rem;
        flex-grow: 1;
    }
}
@media(min-width: 1025px){
    .cart-container{

    }
}

.cart-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.68rem;
    flex: 1 0 0;
    /*width: 65%;*/
    padding-top: 2.13rem;
}
.title-cart-container{
    color: #000;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.25rem;
    letter-spacing: -0.28px;
}
.cart{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem;
    width: 100%;
}
/*///available-products/////*/
.header-available{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    width: 100%;
    gap: 16px;
}
.header-missing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
}
.header-missing span{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-top: -2px;
}
.available-products{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    position: relative;
    padding-right: 0.3rem;
}
.available-products hr{
    width: 100%;
    margin-top: 2.45rem;
    height: 1px;
    background: rgba(0, 0, 0, 0.10);
    border: none;
    position: absolute;
}
.missing-products hr{
    width: 100%;
    margin-top: -0.8rem;
    margin-bottom: -0.7rem;
    /*top: -5%;*/
    height: 1px;
    background: rgba(0, 0, 0, 0.10);
    border: none;
    /*position: absolute*/
}
.dropbtn{
    padding: 0.1rem 0 0.1rem 0;
}
.dropdown{
    width: 100%;
}
.close {
    transform: rotate(180deg);
    transition: 0.5s;
}
.hide {display:none;}
.cards-product{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    align-self: stretch;
    width: 100%;
    margin-top: 0.7rem;
    position: relative;
}
.item-cart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
}

.description-product{
    display: flex;
    padding-bottom: 12px;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
}
@media (min-width: 970px){
    .details-product{
        width: 14.125rem;
    }
    .specifications-item{
        width: 12.7rem;
    }
}
@media (min-width: 1024px){
    .specifications-item{
        width: 15.7rem !important;
    }
}
.details-product{
    display: flex;
    padding-top: 0;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
    /*width: 35%;*/

}
.item-image{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.container-item-image{
    width: 4.5rem;
    height: 6rem;
    overflow: hidden;
    border-radius: 8px;
}
.container-item-image img{
    width: 100%;
    object-fit: cover;
}
.specifications-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
}

.specifications-item h5{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}
.item-color-and-size{
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}
.info-icon{
    display: flex;
    flex-direction: row;
}
.popup-info {
    z-index: 1;
    cursor: pointer;
    position: relative;
}

.get-info-popup:hover + .popup-info {
    opacity: 1;
    visibility: visible;
}
.popup-info{
    width: 17.5rem;
    height: 6.5rem;
    background: #FFF;
    display: flex;
    padding: 10px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    border-radius: 8px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    margin: 2.5rem 0 0 0.1rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.15s ease-in;
    z-index: 1;
    /*top: 20%;*/
    /*left: -125px;*/
}
.popup-info h4{
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}
.popup-info span{
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #000;
}
.specifications-item div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}
.specifications-item div p{
    color: var(--gray-blue);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    display: flex;
    height: 1rem;
    align-items: center;
    gap: 0.4rem;
    align-self: stretch;
}
.specifications-item div p span{
    width: 20px;
    height: 20px;
}
.details-count-product{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    /*justify-content: space-between;*/
    align-self: stretch;
}
.details-count-product p{
    color: var(--coral);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    width: 100%;
    padding-left: 0.1rem;
}
.counter-btn{
    display: flex;
    background-color:  #FFF;
    color: #000;
    border-radius: 8px;
    padding: 0 4px 0 5px;
    width: 6.25rem;
    height: 2.75rem;
}
.counter-btn button{
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding: 0 6px 6px 7px;
}
.counter-btn span{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.counter-btn input{
    display: flex;
    width: 2.75rem;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    flex-shrink: 0;
    border: none;
    padding: 0 0 5px 3px;
}
.counter-btn p{
    display: flex;
    width: 2.75rem;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    flex-shrink: 0;
    border: none;
}
.counter-btn-grey span{
    color: rgba(0, 0, 0, 0.20);
}
.details-price-product{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.35rem;
    flex: 1 0 0;
    align-self: stretch;
    margin-top: 2px;
}
.details-price-product h3{
    display: flex;
    align-items: baseline;
    color:  #000;
    text-align: right;
    padding-right: 0.1rem;
    margin-top: -0.3rem;
}
.final-price-1{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.2px;
}
.final-price-2{
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.2px;
    font-size: 16px;
    line-height: 24px;
}
.full-price-p{
    color: var(--gray-blue);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    text-decoration: line-through;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    border-bottom: 1px dashed var(--gray-blue);
    letter-spacing: -0.01em;
    position: relative;
}
.fav-del-product{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
/*///missing-products/////*/
.missing-products{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
}
.popup-price-info{
    z-index: 1;
    cursor: pointer;
    position: relative;
}
.full-price-p:hover + .popup-price-info {
    opacity: 1;
    visibility: visible;
}
.popup-price-info {
    width: 15rem;
    padding: 11px 16px 13px 16px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    margin-top: 3rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.15s ease-in;
    z-index: 1;
    right: 0;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.popup-price-info p{
    display: flex;
    justify-content: space-between;
    color: var(--gray);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.popup-price-info p span{
    color: #000;
    text-align: right;
}
.to_favorite:hover{
    stroke: #CB11AB;
    fill: #CB11AB;
}
.to_favorite{
    fill: black;
}
.to_delete:hover{
    stroke: #F55123;
    fill: #F55123;
}
.to_delete{
    fill: black;
}

