@media (max-width: 1024px) {
    .modal{
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
    }
}
@media (min-width: 1024px) {
    .modal{
        border-radius: 16px;
        width: fit-content;
        margin: 15rem 35%;
    }
}
.modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
}
.header-modal{
    display: flex;
    padding: 16px 24px 13px 24px;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
}
.header-modal h3{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
}
.header-modal img{
    width: 1.5rem;
    height: 1.5rem;
}

.header-modal button{
    cursor: pointer;
    border: none;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.btn-open {
    position: absolute;
    bottom: 150px;
}
.modal-btn{
    display: flex;
    padding: 16px 24px 24px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.modal-btn button{
    padding: 0px 48px 5px 48px;
    height: 44px;
    border-radius: 8px;
    background: var(--magenta);
    color:  #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
.content-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    z-index: 1;
}
.modal {
    z-index: 2;
}
.hidden {
    display: none;
}

/*///////////////////////////////////////////*/
.choosing-bank-cards-container{
    display: flex;
    padding: 0px 22px 123px 22px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    width: 100%;
}
.choosing-delivery-method-container{
    display: flex;
    padding: 0px 22px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 31rem;
    align-self: stretch;
}
.choosing-delivery-method{
    display: flex;
    height: 36px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.choosing-delivery-method button{
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 20px;
    border: 2px solid rgba(203, 17, 171, 0.15);
    background:  #FFF;
    color:  #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}
.choosing-address-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
}
.choosing-address-container .custom-radio{
    align-items: flex-start !important;
}
.choosing-address-container .custom-radio p{
    justify-content: space-between;
    width: 100%;
}
.choosing-bank-cards-container .radio-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    width: 100%;
}
.choosing-bank-cards-container .custom-radio{
    display: flex;
    justify-content: space-between;
}
.choosing-bank-cards-container p{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.choosing-bank-cards-container img{
    width: 2rem;
    height: 1.5rem;
}
.choosing-address-container .radio-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    width: 100%;
}
.radio-group h4{
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 0.3rem;
}
.radio-group span{
    color:  #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.radio-address{
    display: flex;
    padding: 4px 0px 8px 0px;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}